.singer-btn {
    margin-bottom: 15px;
    text-align: end;
}

.singer-btn-prev {
    margin-right: 10px;
}

.singer-btn-prev,
.singer-btn-next {
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}